
*
!/src/

node_modules/
**/.DS_Store
**.log
**.pyc
**.png
**.jpg
**.svg
**.ico
**.eot
**.woff*

src/web/src/assets/fonts/*
src/web/src/assets/sass/*
src/web/src/assets/img/*
src/web/src/assets/gantt/sources/*

src/api/data.json
src/api/generate.js
src/api/generate_db.js
